<nav class="sidebar" id="sidebar">
    <div class="search-container">
        <!-- input placeholder and alt text should be set with JS -->
        <input id="search_input" type="search"/>
        <button class="search-btn" id="search_btn" aria-live="polite">
            {% include img/search_icon.svg %}
        </button>
    </div>

    <div class="search-results-container" aria-live="polite">
        <ul class="search-results">

        </ul>
    </div>

    <ul class="pinned-pages">
        {% include nav/pages_list.html %}
    </ul>

    <footer>
        {% if site.hematite.sidebar.footer_html %}
            {{ site.hematite.sidebar.footer_html }}
        {% endif %}
    </footer>
</nav>
