
<!--
    Include KaTeX resources/scripts
    KaTeX can be enabled with page.katex.
-->

{% if page.katex || site.mermaid %}

<!-- See the releases tab on https://github.com/KaTeX/KaTeX  -->
<link
        rel="stylesheet"
        href="{{ "assets/plugin/katex/katex.min.css" | relative_url }}"
        />

<script
        defer
        src="{{ "assets/plugin/katex/katex.min.js" | relative_url }}">
</script>

<script
        defer
        src="{{ "assets/plugin/katex/contrib/auto-render.min.js" | relative_url }}"
        onload="renderMathInElement(document.body);">
</script>

{% endif %}
