
<!--
    Include mermaid-js scripts.
-->
{% if page.mermaid or site.mermaid or layout.mermaid %}
<script>
    var MERMAID_CONFIG = window.MERMAID_CONFIG ?? {{ site.mermaid_config | jsonify }} ?? { };

    // Load defaults
    MERMAID_CONFIG.startOnLoad ??= true;
    MERMAID_CONFIG.htmlLabels ??= true;
</script>
<script
        defer
        src="{{ "assets/plugin/mermaid/mermaid.js" | relative_url }}"
        {% comment %}
        Here, we're also calling "mermaid.init()" because of the defer attribute — it's
        possible that the window has already loaded (and thus startOnLoad may have no effect).
        {% endcomment %}
        onload="mermaid.initialize(MERMAID_CONFIG); mermaid.init();" >
</script>

{% endif %}

