:root:not(.darkTheme), :root.lightTheme {
    --primary-text-color: black;
    --secondary-text-color: black;
    --text-color-faint: #444;
    --link-color: #940;
    --visited-link-color: #904;

    --selected-item-fg-color: black;
    --selected-item-bg-color: #ffaaaa;

    --primary-background-color: white;
    --secondary-background-color: #eee;

    --color-alert-background: #ffb998;
    --color-alert-foreground: black;

    --shadow-color-light: rgba(0, 0, 0, 0.6);
    --line-color-light: #eee;
    --line-color-normal: #888;
    --code-background-color: #fafafa;


    // Syntax highlighting
    --syntax-keyword-fg: #d00;
    --syntax-string-fg: #c07;
    --syntax-number-fg: #036;
    --syntax-bracket-fg: #052;
    --syntax-operator-fg: #046;
    --syntax-comment-fg: #338;
    --syntax-name-fg: #331;
    --syntax-normal-fg: black;
}

@media screen {
    :root:not(.darkTheme), :root.lightTheme {
        --code-background-color: #f9f5f5;
    }
}

@mixin dark-theme-colors {
    --primary-text-color: white;
    --secondary-text-color: white;
    --text-color-faint: #ccc;
    --link-color: #fa0;
    --visited-link-color: #f0a;

    --selected-item-fg-color: white;
    --selected-item-bg-color: #530033;

    --primary-background-color: black;
    --secondary-background-color: #111;
    --code-background-color: #222;
    --line-color-light: #222;
    --line-color-normal: #aaa;

    --color-alert-background: #300;
    --color-alert-foreground: white;

    --shadow-color-light: rgba(200, 200, 200, 0.5);


    // Syntax highlighting
    --syntax-keyword-fg: pink;
    --syntax-string-fg: #cfc;
    --syntax-number-fg: #eef;
    --syntax-bracket-fg: #faf;
    --syntax-operator-fg: #aff;
    --syntax-comment-fg: #aef;
    --syntax-name-fg: #edf;
    --syntax-normal-fg: white;
}

@media screen and (prefers-color-scheme: dark) {
    :root:not(.lightTheme) {
        @include dark-theme-colors;
    }
}

@media screen {
    :root.darkTheme {
        @include dark-theme-colors;
    }
}

