@charset "utf-8";

@import "_nav";
@import "_calendar";

.main-container {
    box-shadow: 0px -1px 2px var(--shadow-color-light);
    background-color: var(--primary-background-color);

    max-width: $site-content-preferred-width;
    padding-left: $content-main-padding;
    padding-right: $content-main-padding;
    padding-top: 20px;
    padding-bottom: 30px;

    // Center
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

    // Resize images to prevent overflow.
    img {
        max-width: $site-content-preferred-width;
    }
}

:root {
    background-color: var(--secondary-background-color);
}

body {
    // Add additional padding — notifictions that appear at the bottom of the
    // screen should be ignorable.
    padding-bottom: 140px;
    margin: 0;

    font-size: var(--main-font-size);
    font-family: var(--main-font-family);
    color: var(--primary-text-color);
}

nav#post_next_prev {
    display: flex;
    flex-direction: row;

    & > a {
        flex-grow: 1;
        text-align: center;

        // Show the top of the page, in addition to the
        // link.
        scroll-margin-top: calc(25vh + 2em);
    }
}

.prev-post-link, .next-post-link, .post-tag, .tag {
    border: none;
    padding: 6px;
    border-radius: 10px;
    margin: 2px;

    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 0px 3px var(--shadow-color-light);

    background-color: var(--primary-background-color);
    transition: background-color 0.5s ease;

    &:hover, &:focus-visible {
        background-color: var(--secondary-background-color);
    }
}

.post-tag, .tag {
    color: var(--primary-text-color);

    &:visited {
        color: var(--primary-text-color);
    }
}

.post-assigned-date {
    font-style: italic;
    color: var(--text-color-faint);
    text-align: end;
}

.next-post-link {
    float: right;
}

.prev-post-link {
    float: left;
}

.end-of-post-space {
    height: 100px;
    break-after: always;
}

.pageAlert {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;

    box-shadow: 0px -1px 1px var(--shadow-color-light);
    background-color: var(--color-alert-background);
    color: var(--color-alert-foreground);

    font-family: var(--main-font-family);
    font-size: 14pt;

    padding: 20px;
    animation: grow-in 0.7s ease 1;
}

.pageAlert:not(.hidden) > :first-child::before, aside.warning > :first-child::before {
    content: "❕";
    text-shadow: 0px 0px 1px var(--shadow-color-light);
    box-shadow: inset 0px 1px 2px var(--shadow-color-light);
    aspect-ratio: 1;

    padding: 7px;
    margin-right: 10px;
    width: 15px;
    height: 15px;

    border-radius: 100%;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 16pt;
}

.pageAlert.closing {
    animation: shrink-out 0.5s ease 1;
}

.linkToHeaderContainer {
    cursor: pointer;
    position: absolute;
    opacity: 0.2;

    a {
        margin-left: -1em;

        svg {
            width: 1em;
            height: 0.7em;
        }
    }

    transition: opacity 0.2s ease;
}

h1, h2, h3, h4, h5, h6 {
    &:hover, &:focus-visible {
        .linkToHeaderContainer {
            opacity: 1;
        }
    }
}

.spacer {
    flex-grow: 1;
}

main.slideshow-mode {
    position: absolute;
    display: flex;

    left: 0;
    right: 0;
    top: var(--header-effective-height);
    bottom: 0;

    iframe {
        flex-grow: 1;
        border: none;
    }
}

// Make the main content large enough that the sidebar doesn't
// auto-expand.
:root.slideshow-mode {
    .main-container {
        max-width: 100vw;

        // Transition immediately!
        transition: width 0s ease, max-width 0s ease;
    }

    // Don't scroll, let the inner frame do that.
    overflow: hidden;
}

// On mobile devices,
@media screen and (max-width: $site-content-preferred-width) {
    .main-container {
        box-shadow: none;
        margin: 0;

        img {
            max-width: calc(100vw - 2 * #{$content-main-padding});
        }
    }

    // Don't scroll if the sidebar is filling the screen.
    :root.hasOpenSidebar, body.hasOpenSidebar {
        overflow: hidden;
    }

    body, :root {
        margin: 0;
        padding: 0;

        background-color: var(--primary-background-color);
    }

    body {
        padding-bottom: 140px;
    }

    // Move the header links to the margin
    .linkToHeaderContainer {
        margin-right: -$content-main-padding;
    }

}

// Printing?
@media print {
    .main-container {
        box-shadow: none;
        background: transparent;
        margin: 0;
        padding: 0;
    }

    :root {
        background: transparent;
    }

    .linkToHeaderContainer {
        display: none;
    }

    .pageAlert {
        display: none;
    }

    nav.sidebar {
        display: none;
    }

    nav#post_next_prev {
        display: none;
    }

    .tag, .post-tag, .post-next-btn, .post-prev.btn {
        box-shadow: none;
        border: 1px solid var(--line-color-light);
    }
}
