@charset "utf-8";

nav {
    position: sticky;
    top: 0;
    z-index: 999;

    background-color: var(--primary-background-color);
    font-size: var(--nav-font-size);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: row;
    padding-right: 10px;

    box-shadow: 0 0 2px var(--shadow-color-light);

    margin: 0;

    a {
        text-decoration: none;
        color: var(--primary-text-color);
    }

    #toggle_sidebar_btn {
        margin-right: 10px;
    }
}

// To make space for the navigation bar, add padding to
// hash links. See
// https://gomakethings.com/how-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header-with-one-line-of-css/
h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 2em;
}
