:root {
    --primary-text-color: black;
    --link-color: red;
    --visited-link-color: #ee3000;

    --primary-background-color: white;
    --secondary-background-color: #eee;

    --color-alert-background: #ffb998;
    --color-alert-foreground: black;

    --shadow-color-light: rgba(0, 0, 0, 0.6);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-text-color: white;

        --primary-background-color: black;
        --secondary-background-color: #111;

        --color-alert-background: #300;
        --color-alert-foreground: white;

        --shadow-color-light: rgba(200, 200, 200, 0.5);
    }
}

