@charset "utf-8";

:root {
    --serif-font-family: 'FoulisGreek', 'EB Garamond', 'TeX Gyre Bonum', serif;
    --sans-font-family: 'URW Gothic, Book', 'TeX Gyre Adventor', 'Ubuntu', sans-serif;
    --main-font-family: var(--serif-font-family);
}

@import "_colors";
@import "_sizes";
@import "_animations";
@import "_layout";
@import "_elements";
@import "_rogue";
