<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{{ "assets/style.css" | relative_url }}"/>
        <script type="module" src="{{ "assets/js/main.mjs" | relative_url }}"></script>

        {% include katex_includes.html %}

        <title>{{ page.title }} — {{ site.title }}</title>
    </head>
    <body>
        {% include page_navigation.html %}

        <main>
        {{ content }}
        </main>

    </body>
</html>

