---
layout: default
---

<h1>{{ page.title }}</h1>

<nav id="post_next_prev">
</nav>
<p id="post_date" class="post-assigned-date"></p>

<main>
{{ content }}
</main>

<div class="end-of-post-space"></div>

<hr/>
<nav id="post_tags">
    <h1 id="tag_header_lbl"></h1>
</nav>

<script type="module">
    import initPost from "{{ "assets/js/layout/post.mjs" | relative_url }}";
    let pageData = {
    {% if page.next %}
        next: {
            url: unescape("{{ page.next.url | relative_url | url_encode }}".replaceAll(/[+]/g, "%20")),
            title: "{{ page.next.title | strip_html }}",
        },
    {% endif %}
    {% if page.previous %}
        previous: {
            url: unescape("{{ page.previous.url | relative_url | url_encode }}".replaceAll(/[+]/g, "%20")),
            title: "{{ page.previous.title | strip_html }}",
        },
    {% endif %}
        tags: {{ page.tags | jsonify }},
        date: {{ page.date | date_to_xmlschema | jsonify }}
    };

    initPost(pageData);
</script>
