---
layout: default
---

<!-- Defines a https://remarkjs.com/ slideshow -->
<!-- Configure remark with
    page.remark_presentation_config, site.remark_presentation_config,
    page.remark_presentation_config_html
-->

{% assign frame_resource_url = 'assets/html/remark_presentation_frame.html.resource' | relative_url %}

<main class="slideshow-mode">
    <iframe
            id="presentation_frame"
            onload="window.presentationFrameLoaded = true;"></iframe>
</main>

<script defer type="module">
    import slideshow from "{{ 'assets/js/layout/remark_slideshow.mjs' | relative_url }}";

    let presentationFrame = document.querySelector("#presentation_frame");
    presentationFrame.src = {{ frame_resource_url | jsonify }};
    window.presentationFrameLoaded = false;

    let config =
        {{ page.remark_presentation_config | default: site.remark_presentation_config | jsonify }};
    config ??= {};

    config.source = {{ page.content | jsonify }};

    // Library imports intended for this page: Forward to the frame.
    let libraryImports = unescape(`
        {% capture library_imports %}
            {% include extern_library_imports.html %}
        {% endcapture %}
        {{ library_imports | url_encode | replace: "+", " " }}
    `);

    // To be called after the presentation iframe loads.
    window.initSlides = () => {
        let presentationDoc = presentationFrame.contentDocument;
        let presentationWin = presentationFrame.contentWindow;

        // Ensure that onload doesn't get called again if the frame reloads.
        presentationFrame.onload = null;

        // Re-create the document, add the library imports to it.
        let slideshowHtml = presentationDoc.documentElement.outerHTML;

        presentationDoc.open();
        presentationDoc.write("<!DOCTYPE html>");
        presentationDoc.write(slideshowHtml);
        presentationDoc.write(libraryImports);

        // Any additional configuration scripts/html specific to remark
        presentationDoc.write(unescape(
            {{ page.remark_presentation_config_html | default: "" | url_encode | replace: "+", " " | jsonify }}
        ));

        presentationDoc.write(`
            <${"script"}>
            if (window.MERMAID_CONFIG) {
                window.MERMAID_CONFIG.useMaxWidth = true;
                window.MERMAID_CONFIG.cloneCssStyles = false;
                window.MERMAID_CONFIG.flowchart = { useMaxWidth: true };
            }
            </${"script"}>
        `);
        presentationDoc.close();
        (async () => {
            await slideshow.start(presentationFrame.contentWindow, config);

            // Ensure that mermaid has already been run!
            if (presentationWin.mermaid) {
                presentationWin.mermaid.init();
                console.log("Ran mermaid!");
            }
        })();
    };

    if (window.presentationFrameLoaded) {
        initSlides();
    }
    else {
        presentationFrame.onload = initSlides;
    }
</script>
